.Footer {
	background-color: $darkColor;
	color: $lightColor;

	p {
		margin-bottom: 0;
		font-weight: 500;

		a {
			color: $lightColor;
			text-decoration: none;
		}
	}
}

@include screen-sm {
	.Footer {
		p {
			font-size: 0.75rem !important;
		}
	}
}

@include screen-md {
	.Footer {
		p {
			font-size: 1.15rem !important;
		}
	}
}
