.Pageheader {
	background-image: url("../../assets/Pageheader.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	.PageHeadline {
		font-family: "Poppins", sans-serif;
		font-weight: 600;
		font-size: 3rem;
		line-height: 4.5rem;
		color: $lightColor;
	}
}

.MenuToggelButton {
	cursor: pointer;

	i {
		font-size: 2rem;
		line-height: 2rem;
		color: $lightColor;
	}
}

@include screen-sm {
	.Pageheader {
		.PageHeadline {
			font-size: 1.5rem;
			line-height: 2.25rem;
		}
	}

	.MenuToggelButton {
		i {
			font-size: 1rem;
			line-height: 1rem;
		}
	}
}
