.QuotesList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;

	.QuoteCard {
		box-sizing: border-box;
		box-shadow: 0px 4px 8px rgba(#000000, 0.25);
		padding: 2rem;
		border-radius: 0.5rem;
		text-align: center;

		.QuoteText {
			font-weight: 300;
			font-size: 1.125rem;
			line-height: 1.5rem;
			margin-bottom: 1rem;
		}

		.QuoteBy {
			font-weight: 500;
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}
}

@include screen-sm {
	.QuotesList {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;

		.QuoteCard {
			padding: 1rem;

			.QuoteText {
				font-size: 0.5rem;
				line-height: 0.75rem;
				margin-bottom: 0.5rem;
			}

			.QuoteBy {
				font-size: 0.75rem;
				line-height: 1rem;
			}
		}
	}
}

@include screen-md {
	.QuotesList {
		grid-gap: 1.5rem;

		.QuoteCard {
			padding: 1.5rem;

			.QuoteText {
				font-size: 0.75rem;
				line-height: 1.15rem;
				margin-bottom: 0.75rem;
			}

			.QuoteBy {
				font-size: 1.15rem;
				line-height: 1.5rem;
			}
		}
	}
}
