@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

.primaryHeading {
	font-family: "Poppins", sans-serif;
	font-size: 4rem;
	line-height: 4rem;
	font-weight: 700;
}

.secondaryHeading {
	font-family: "Poppins", sans-serif;
}
